#lupita {
  width: 20px;
}

#buttonSearch {
  background-color: #343434;
  border: 1px solid #343434;
  box-shadow: 0px 2px 0px 0px #0000000B;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  
  width: 98px;
  height: 56px;
}

#buttonSearch:hover {
  cursor: pointer;
}

#inputSearch {
  padding: 8px 12px;
  border: none;
  outline: none;
  width: 97%;
}


#searchBar {
  display: flex;
  flex-direction: row;  
  align-items: center;
  padding: 0px;
  width: 100%;
  border: 1px solid #D9D9D9
}

#borderInputSearch{
  width: 100%;
}







.border {

  width: 6%;
  height: 100%;
}